
@font-face{
    font-family: Lato;
    src: url(Lato-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    font-family:Lato;
}


* a:link {
    color:black;
    text-decoration: none;
}
* a:visited {
    color:black;
    text-decoration: none;
}

.plain_text {
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
}

.project_text {
    box-sizing: content-box;
    font-size: 20px;
}

#paper-marbling > h3 {
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    font-size: 30px;
    margin-left: 70px;
}

h4 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

body {
    background-color: white;
    font-size: 16px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#Header {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 16px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

#Header > div {
    box-sizing: border-box;
    margin: 10px 10px 0 0;
}

#twitter-logo {
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
}

#github-logo {
    display: block;
    margin:auto;
    width: 20px;
    height: 20px;
}


#main_image > img {
    display: block;
    margin: auto;
    height: 15%;
    width: 15%;
}

.Banner {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    background-image: url(largebanner2.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    font-size: 90px;
    text-align: center;
    
}

.small-banner1 {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    background-image: url(slice1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.small-banner2 {
    width: 100;
    margin: 0;
    padding: 20px 0;
    background-image: url(slice2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#about_me {
    color: black;
    padding-top: 100px;
    padding-bottom: 100px;
   
}

#Top_text {
    font-size: 60px;
    font-family: Open sans-serif;
    display:flex;
    justify-content: center;
    padding-bottom: 10px;
}

.projects {
    display:flex;
    flex-direction: row;
    color: black; 
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 200px;
}

.projects > h3 {
    font-size: 37px;
}

h4.headline {
    font-size: 20px;
}

#project1 {
    padding-right: 5px;
    padding-left: 5px;
}

#project2 {
    padding-right: 5px;
    padding-left: 5px;
}

#contact > #contact-links {
    color: black;
    padding-left: 60px;
    line-height: 40px;
    font-size: 18px;
    padding-top: 6px;
 
}

#contact {
    display:flex;
    flex-direction: row; 
}

#contact >h3 {
    font-size: 25px;
    padding-left: 50px;
}

.headline {
    padding: 0px;
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;

}